<% add_breadcrumb "Users", users_path %>
<% add_breadcrumb "New" %>
<section class="mx-auto max-w-2xl px-6 py-8">
  <h1 class="mb-6 text-2xl font-bold text-slate-900">
    <%= t("helpers.submit.create", model: User.model_name.human, default: "New User") %>
  </h1>

  <%= render "form", user: @user %>
</section>
